body {
  font: normal 10px Courier,Arial,sans-serif;
  white-space: pre;
}
#genh1 {
  position: absolute;
  top: 0px;
  left: 820px;
  font-size: 25px;
  padding: 10px;
}

#colony_stat_grid {
  position: absolute;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-column-gap: 150px;
  grid-row-gap: 30px;
  top: 70px;
  left: 840px;
}
.chart {
  position: relative;
  height: 120px;
  width: 500px;
  top: 10px;
}

#reload_btn {
  position:absolute;
  width: 200px;
  height: 50px;
  top: 670px;
  left: 855px;
  border-radius: 10px;
}
#options-grid {
  position:absolute;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  top: 730px;
  left: 855px;
}
#r_p_checkbox {
  position: relative;
  height: 16px;
  width: 16px;
  top: 11px;
  left: 25px;
}
#colony_amount {
  position: relative;
  left: 90px;
}

#defaultCanvas0 {
  position: absolute;
  top: 0px;
  left: 0px;
}
